In [1]:
import pandas as pd   #Creacion de una serie en pandas
ds = pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [15]:
ds2 = pd.Series([2,4,6,8,10])  #Conversion de una serie en pandas a una lista
print("Data series and type ")
print(ds2)
print(type(ds2))
print("Convert a pandas Series to a python list")
print(ds2.tolist())
print(type(ds2.tolist()))

Data series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert a pandas Series to a python list
[2, 4, 6, 8, 10]
<class 'list'>

In [21]:
ds3 = pd.Series([2,4,6,8,10])  #Operaciones basicas entre series
ds4 = pd.Series([1,3,5,7,9])
dsS = ds3 + ds4
dsR = ds3 - ds4 
dsM = ds3 * ds4
dsD = ds3 / ds4
print(ds3)
print(ds4)
print("Suma ")
print(dsS)
print("Resta ")
print(dsR)
print("Multi ")
print(dsM)
print("Div ")
print(dsD)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
Suma
0     3
1     7
2    11
3    15
4    19
dtype: int64
Resta
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multi
0     2
1    12
2    30
3    56
4    90
dtype: int64
Div
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [25]:
ds5 = pd.Series([2,4,6,8,10])  #ComparaciÃ³n entre elementos de dos series
ds6 = pd.Series([1,3,5,7,9])
print(ds5)
print(ds6)

print("Elementos iguales ")
print(ds5 == ds6)

print("Elementos mayores ")
print(ds5 > ds6)

print("Elementos menores ")
print(ds5 < ds5)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
Elementos iguales
0    False
1    False
2    False
3    False
4    False
dtype: bool
Elementos mayores
0    True
1    True
2    True
3    True
4    True
dtype: bool
Elementos menores
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [27]:
d1 = {'a':100, 'b':200, 'c':300, 'd':400, 'e':800} #Conversion de diccionario a serie
print("Diccionario original")
print(d1)
serie_nueva = pd.Series(d1)
print("Conversion a serie")
print(serie_nueva)

Diccionario original
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Conversion a serie
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [29]:
import numpy as np                        #Conversion de arreglo numpy a serie
np_array = np.array([10,20,30,40,50])
print("Arreglo numpy ")
print(np_array)
serie_nueva_2 = pd.Series(np_array)
print("Conversion a serie ")
print(serie_nueva_2)

Arreglo numpy
[10 20 30 40 50]
Conversion a serie
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [31]:
s1 = pd.Series(['100','200','python','300.2','a'])  #Convertir los valores de una serie a numerico
print("Serie Original ")
print(s1)
s2 = pd.to_numeric(s1,errors='coerce')
print("Serie convertida a numerico ")
print(s2)

Serie Original
0       100
1       200
2    python
3     300.2
4         a
dtype: object
Serie convertida a numerico
0    100.0
1    200.0
2      NaN
3    300.2
4      NaN
dtype: float64